
body{
	background: url(../img/sun.jpg) no-repeat center center fixed;
	background-size:300% auto;
	margin-top: -70px;

}

#loader{
opacity: 1;
}


#weatherData{
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	color: white;
	background-color: #333;
	opacity: 0.8;
	width: 60%;
	padding: 2%;
	border: solid;
	border-width: 3px;
	border-color: #fff;
	border-radius: 20px;
}
#bg{
	position: absolute;
	margin-top: -95px;
 max-width: 100%;
    height: auto;
	
	
}
#bgrain{
	position: absolute;
	margin-top: -45px;
	min-width: 100%;
	

}


